{% extends 'base.html.twig' %}

{% block body %}
    <br />
    <div class="jumbotron">
        <h2 class="display-3" style="alignment: center">Добре дошли!</h2>

        <hr class="my-4">


    </div>
{% endblock %}

