{% extends 'base.html.twig' %}

{% block body %}
    <br />
    <div class="jumbotron">
        <h1 class="display-3" style="alignment: center">Добре дошли!</h1>
        <p class="lead" style="alignment: center">Имате проблем, но нямате решение за него?
            Тук е мястото, където можете да споделите и получите съвет,
            както и да помогнете на други хора във вашето положение. </p>
        <hr class="my-4">
        <p>gblikhgiluh</p>
    </div>
{% endblock %}

